@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-4">
        <div class="row">
            <div class="col-12 text-center">

                <h2 class="py-2 text-black">@ViewData["Title"]</h2>
                <partial name="_StatusMessage" for="StatusMessage" />
                
            </div>
        </div>
    </div>

    <div class="card-body bg-dark-subtle p-4">
        <div class="row pt-3">
            <div class="col-md-12">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="" />
                <label asp-for="Input.OldPassword" class="form-label">Old Password</label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="" />
                <label asp-for="Input.NewPassword" class="form-label">New Password</label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="" />
                <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
        </form>
    </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
