@model CourseLMS.Models.Assignment

@{
    ViewData["Title"] = "Edit";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-black py-2">Edit Assignment</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                @*@<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                <input type="hidden" asp-for="AssignmentID" />
                <div class="form-floating py-2 col-12">
                    <select asp-for="CourseID" class="form-control border-0 shadow" asp-items="ViewBag.CourseID"></select>
                    <label asp-for="CourseID" class="text-black"></label>
                    <span asp-validation-for="CourseID" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Title" class="form-control border-0 shadow " />
                    <label asp-for="Title" class="text-black"></label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Description" class="form-control border-0 shadow" />
                    <label asp-for="Description" class="text-black"></label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="DueDate" class="form-control border-0 shadow" />
                    <label asp-for="DueDate" class="text-black"></label>
                    <span asp-validation-for="DueDate" class="text-danger"></span>
                </div>
                    <div class="row pt-2">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-outline-success form-control text-black">Save</button>
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="Assignments" asp-action="Index" class="btn btn-outline-primary border  form-control">
                                Back to Assignments
                            </a>
                        </div>
                    </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}