@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome CourseLMS</h1>
    <h2 style="color:black;">Start your learning journey!</h2>

</div>
<div class="container mt-5">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000" >
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ul>

        <!-- Slides -->
        <div class="carousel-inner">
            <!-- Image 1 (active) -->
            <div class="carousel-item active ">
                <h2 style="text-align: center">Course Title</h2>
                <img src="https://www.cicekdiyari.com/buyukresim/cardak-gul-anastasia-kir-cicekleri.jpg" alt="Image 1" style="width:400px; height:400px" class="mx-auto d-block">
            </div>

            <!-- Image 2 -->
            <div class="carousel-item ">
                <h2 style="text-align: center">Course Title</h2>
                <img src="https://yt3.googleusercontent.com/MOTrmdMHbpCZuwTDagjC76xl7wFmbsY3ypQrcFNm8sp4LrykeAVi4giZP_wLr45wQpv3mowR6xA=s900-c-k-c0x00ffffff-no-rj" alt="Image 2" style="width:400px;height:400px" class="mx-auto d-block">
            </div>

            <!-- Image 3 -->
            <div class="carousel-item">
                <h2 style="text-align: center">Course Title</h2>
                <img src="https://www.cicekdiyari.com/buyukresim/cardak-gul-anastasia-kir-cicekleri.jpg" alt="Image 3" style="width:400px;height:400px" class="mx-auto d-block">
            </div>
        </div>

        <!-- Previous and Next Buttons -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>