@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome CourseLMS</h1>
    <h2 style="color:black;">Start your learning journey!</h2>*@

</div>
<div class="container mt-5 mb-5">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2500">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ul>

        <!-- Slides -->
        <div class="carousel-inner">
            <!-- Image 1 (active) -->
            <div class="carousel-item active ">
                <h2 style="text-align: center">JavaScript</h2>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1200px-Unofficial_JavaScript_logo_2.svg.png" alt="Image 1" style="width:400px; height:400px" class="mx-auto d-block">
            </div>

            <!-- Image 2 -->
            <div class="carousel-item ">
                <h2 style="text-align: center">Python</h2>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1200px-Python-logo-notext.svg.png" alt="Image 2" style="width:400px;height:400px" class="mx-auto d-block">
            </div>

            <!-- Image 3 -->
            <div class="carousel-item ">
                <h2 style="text-align: center">Structured Query Language</h2>
                <img src="https://www.stonebranch.com/integration-hub/media/3c/64/66/1636642258/Stonebranch_SQL_Vendor_Product_Logo.svg" alt="Image 3" style="width:400px;height:400px" class="mx-auto d-block">
            </div>
        </div>

        <!-- Previous and Next Buttons -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
<div class="row pb-3">
    <div class="col-lg-3 col-sm-6">
        <div class="row p-2">
            <div class="col-12 p-1">
                <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                    <p class="card-title h5 text-dark text-center">Your progress</p>
                    <div class="progress mb-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                    </div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1200px-Unofficial_JavaScript_logo_2.svg.png" class="card-img-top rounded" />
                    <div class="card-body pb-0">
                        <div class="pl-1">
                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">Course Title</p>
                            <p class="card-title text-warning text-center"><b>Instructor</b></p>
                        </div>
                        <p>Explore the dynamic world of web development with JavaScript. Build interactive and responsive websites, from front-end design to back-end server communication, using this versatile programming language.</p>
                    </div>
                    <div>
                        <a asp-action="Details"
                           class="btn btn-outline-success btn-sm bg-gradient border-0 form-control mb-3">
                            Enroll
                        </a>
                    </div>
                    <div>
                        <a asp-action="Details"
                           class="btn btn-outline-info btn-sm bg-gradient border-0 form-control mb-3">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="row p-2">
            <div class="col-12 p-1">
                <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                    <img src="https://dev.java/assets/images/java-logo-vert-blk.png" class="card-img-top rounded" />
                    <div class="card-body pb-0">
                        <div class="pl-1">
                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">Course Title</p>
                            <p class="card-title text-warning text-center"><b>Instructor</b></p>
                        </div>
                        <p>Discover the robust and cross-platform capabilities of Java. Learn to create powerful applications, from mobile apps to enterprise systems, using this versatile and widely used programming language.</p>
                    </div>
                    <div>
                        <a asp-action="Details"
                           class="btn btn-outline-success btn-sm bg-gradient border-0 form-control mb-3">
                            Enroll
                        </a>
                    </div>
                    <div>
                        <a asp-action="Details"
                           class="btn btn-outline-info btn-sm bg-gradient border-0 form-control mb-3">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="row p-2">
            <div class="col-12 p-1">
                <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                    <img src="https://www.stonebranch.com/integration-hub/media/3c/64/66/1636642258/Stonebranch_SQL_Vendor_Product_Logo.svg" class="card-img-top rounded" />
                    <div class="card-body pb-0">
                        <div class="pl-1">
                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">Course Title</p>
                            <p class="card-title text-warning text-center"><b>Instructor</b></p>
                        </div>
                        <p>Dive into SQL and learn to manage, query, and manipulate databases. Master the language of data and unlock the power of structured query language.</p>
                    </div>
                    <div>
                        <a asp-action="Details"
                           class="btn btn-outline-success btn-sm bg-gradient border-0 form-control mb-3">
                            Enroll
                        </a>
                    </div>
                    <div>
                        <a asp-action="Details"
                           class="btn btn-outline-info btn-sm bg-gradient border-0 form-control mb-3">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="row p-2">
            <div class="col-12 p-1">
                <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1200px-Python-logo-notext.svg.png" class="card-img-top rounded" />
                    <div class="card-body pb-0">
                        <div class="pl-1">
                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">Course Title</p>
                            <p class="card-title text-warning text-center"><b>Instructor</b></p>
                        </div>
                        <p>Embark on a journey into Python, the versatile programming language known for simplicity and efficiency. Develop applications, automate tasks, and analyze data with Python's extensive libraries.</p>
                    </div>
                    <div>
                        <a asp-action="Details"
                           class="btn btn-outline-success btn-sm bg-gradient border-0 form-control mb-3">
                            Enroll
                        </a>
                    </div>
                    <div>
                        <a asp-action="Details"
                           class="btn btn-outline-info btn-sm bg-gradient border-0 form-control mb-3">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>