@{
    ViewData["Title"] = "Create User";
}

<h1>Create User</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="form-group">
        <label for="role">Role:</label>
        <select class="form-control" id="role" name="roleName">
            @foreach (var role in ViewBag.Roles)
            {
                <option value="@role.Value">@role.Text</option>
            }
        </select>
    </div>
    <div class="row pt-2">
        <div class="col-6 col-md-3">
            <button type="submit" class="btn btn-outline-success form-control text-black">Create</button>
        </div>
        <div class="col-6 col-md-3">
            <a asp-controller="Assignments" asp-action="Index" class="btn btn-outline-primary border  form-control">
                Back to Assignments
            </a>
        </div>
    </div>
</form>

