@model User

<h1>User Details</h1>

<table class="table">
    <tr>
        <th>Username:</th>
        <td>@Model.UserName</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>@Model.Email</td>
    </tr>
</table>

<a asp-action="Index">Back to List</a>
