@{
    ViewData["Title"] = "Course";
}

<div class="text-center">
    <h1 class="display-4">Welcome Course</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

    <div class="row justify-content-center align-items-center">
        <div class="col-md-4">
            <div class="card mb-4">
                <!-- Card içeriği -->
                <div class="card text-white bg-primary">
                <div class="card-header">Header</div>
                <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <img src="https://www.cicekdiyari.com/buyukresim/cardak-gul-anastasia-kir-cicekleri.jpg" alt="Photo 1" class="card-img-top mb-3">
                    <button type="button" class="btn btn-primary">Enroll</button>
                </div>
            </div>
        </div>
    </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <!-- Card içeriği -->
<div class="card text-white bg-primary ">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Primary card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <!-- Card içeriği -->
               <div class="card text-white bg-primary " >
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Primary card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <!-- Card içeriği -->
                <div class="card text-white bg-primary " >
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Primary card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <!-- Card içeriği -->
                <div class="card text-white bg-primary " >
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Primary card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <!-- Card içeriği -->
                <div class="card text-white bg-primary" >
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Primary card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
            </div>
        </div>
    </div>


