@{
    ViewData["Title"] = "Course";
}

<div class="text-center">
    <h1 class="display-4">Welcome Course</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row pb-3">
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                    <img src="https://www.cicekdiyari.com/buyukresim/cardak-gul-anastasia-kir-cicekleri.jpg" class="card-img-top rounded" />
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">Java</p>
                                <p class="card-title text-warning text-center">by <b>Kaan</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    List Price:
                                    <span class="text-decoration-line-through">
                                        100
                                    </span>
                                </p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center">
                                    As low as:
                                    <span>
                                        200
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Details"
                           class="btn btn-primary btn-sm bg-gradient border-0 form-control mb-3">
                                Details
                            </a>
                        <a asp-action="Details"
                           class="btn btn-primary btn-sm bg-gradient border-0 form-control mb-3">
                            Details
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-lg-3 col-sm-6">
        <div class="row p-2">
            <div class="col-12 p-1">
                <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                    <img src="https://www.cicekdiyari.com/buyukresim/cardak-gul-anastasia-kir-cicekleri.jpg" class="card-img-top rounded" />
                    <div class="card-body pb-0">
                        <div class="pl-1">
                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">Java</p>
                            <p class="card-title text-warning text-center">by <b>Kaan</b></p>
                        </div>
                        <div class="pl-1">
                            <p class="text-dark text-opacity-75 text-center mb-0">
                                List Price:
                                <span class="text-decoration-line-through">
                                    100
                                </span>
                            </p>
                        </div>
                        <div class="pl-1">
                            <p class="text-dark text-opacity-75 text-center">
                                As low as:
                                <span>
                                    200
                                </span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Details"
                           class="btn btn-primary bg-gradient border-0 form-control">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="row p-2">
            <div class="col-12 p-1">
                <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                    <img src="https://www.cicekdiyari.com/buyukresim/cardak-gul-anastasia-kir-cicekleri.jpg" class="card-img-top rounded" />
                    <div class="card-body pb-0">
                        <div class="pl-1">
                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">Java</p>
                            <p class="card-title text-warning text-center">by <b>Kaan</b></p>
                        </div>
                        <div class="pl-1">
                            <p class="text-dark text-opacity-75 text-center mb-0">
                                List Price:
                                <span class="text-decoration-line-through">
                                    100
                                </span>
                            </p>
                        </div>
                        <div class="pl-1">
                            <p class="text-dark text-opacity-75 text-center">
                                As low as:
                                <span>
                                    200
                                </span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Details"
                           class="btn btn-primary bg-gradient border-0 form-control">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="row p-2">
            <div class="col-12 p-1">
                <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                    <img src="https://www.cicekdiyari.com/buyukresim/cardak-gul-anastasia-kir-cicekleri.jpg" class="card-img-top rounded" />
                    <div class="card-body pb-0">
                        <div class="pl-1">
                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">Java</p>
                            <p class="card-title text-warning text-center">by <b>Kaan</b></p>
                        </div>
                        <div class="pl-1">
                            <p class="text-dark text-opacity-75 text-center mb-0">
                                List Price:
                                <span class="text-decoration-line-through">
                                    100
                                </span>
                            </p>
                        </div>
                        <div class="pl-1">
                            <p class="text-dark text-opacity-75 text-center">
                                As low as:
                                <span>
                                    200
                                </span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Details"
                           class="btn btn-primary bg-gradient border-0 form-control">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                    <img src="https://www.cicekdiyari.com/buyukresim/cardak-gul-anastasia-kir-cicekleri.jpg" class="card-img-top rounded" />
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">Java</p>
                                <p class="card-title text-warning text-center">by <b>Kaan</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    List Price:
                                    <span class="text-decoration-line-through">
                                        100
                                    </span>
                                </p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center">
                                    As low as:
                                    <span>
                                        200
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Details"
                           class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>